<!DOCTYPE html>
{% extends "base.html" %}

{% block extrahead %}
{% load static %}
<link rel='stylesheet' type ='text/css' href="{% static 'schedule.css' %}">
<script type='text/javascript' src="{% static 'schedule.js' %}">
{% endblock %}
{% block content %}

<div id="calendar"></div>
<script type='text/javascript'>
$(document).ready(function() {
    // page is now ready, initialize the calendar...
    $('#calendar').fullCalendar({
        // put your options and callbacks here
      events: '/schedule/api/occurrences?calendar_slug=example'
    })
});
</script>
{% endblock %}
